/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31 oct 2024, 21:04:20
    Author     : Diego Valenzuela Parra
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #5d5d5d;
    height: 98vh;
}

.contenedor {
    margin: auto;
    background-color: #d5b3fc;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

button {
    background-color: #b3fcc7;
    font-weight: bold;
    border-radius: 0.6rem;
    cursor: pointer;
    border: 1px solid;
    padding: 0.5rem;
}

button:hover {
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 0.6rem;
    cursor: pointer;
    border: 1px solid;
    padding: 0.5rem;
}

.usuario {
    background-color: #ffcc99;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    border: 2px dashed;
}

span {
    font-weight: bold;
}